<div class="row">
<body>
    

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/Logos/fotoperfil.jfif" class="img-fluid" id="fotodeperfil">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <div *ngIf="persona">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    </div>
        <p id="carrera">Full Stack Developer Jr</p>
    </div>
    
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 id="acercade">Acerca de mi</h1>
        <p id="infoperso">Toda mi información personal se escribirá luego de la prueba de 
            un buen código para ver si realmente funciona </p>
    </span>
</div>
    </div>
</body>

