<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
      Nueva Educación
    </button>
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col lg 1"></div>



  <table class="table">
    <tbody>
      <tr *ngFor="let Educacion of educacion">
        <td>
          <h5>{{Educacion.nombreE}}</h5>
        </td>
        <td>{{Educacion.descripcionE}}</td>

        <td *ngIf="isLogged">
          <button type="button" class="btn btn-info" routerLink="/editexp/{{Educacion.id}}"><i
              class="bi bi-pencil-fill"></i>EDITAR</button>
        </td>
        <td *ngIf="isLogged">
          <button type="button" class="btn btn-danger" (click)="delete(Educacion.id)"><i
              class="bi bi-x-circle-fill"></i>BORRAR</button>
        </td>


      </tr>
    </tbody>

  </table>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-11"></div>

</div>