<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
        <li>
           <h1>Educacion 1</h1> - <h3>(years)</h3>
           <p>Descripción de mis estudios</p>
        </li>
       </ul>
       <ul>
           <li>
              <h1>Educacion 2</h1> - <h3>(years)</h3>
              <p>Descripción de mis estudios</p>
           </li>
        </ul>
          <ul>
            <li>
              <h1>Educacion 3</h1> - <h3>(years)</h3>
              <p>Descripción de mis estudios</p>
            </li>
          </ul>
   
     </div>
   
   </div>