.row {
    padding: 150px;
    width: 101%;
}
div {
    background-color:  rgb(138, 88, 255);
    text-align: center;
}
/*Estilo de foto de perfil*/

@media (min-width: 576px){
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 5%;
        top: 600px;
    
    }
}
@media (max-width: 575px){
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 34%;
        top: 620px;
        
    }
}

/*Estilo carrera*/

@media (min-width: 576px){
    #carrera {
        position: absolute;
        top: 132%;
        left: 7%;
        background-color: aliceblue;
        
    }
}


/*Etiqueta nombre*/
@media (min-width: 576px){
#nombre{
    font-weight: bold;
    position: absolute;
    top: 127%;
    left: 8%;
    
}


/*Estilo info personal*/
@media (min-width: 576px){
 #acercade { 
    position: absolute;
        top: 110%;
        right: 30%;
 }  
 
 @media (min-width: 576px) {
    #infoperso {
        position: absolute;
        top: 120%;
        left: 35%;
        background-color: rgb(228, 198, 255);
    }
 }


}

}

/*Tamaño celular*/
@media (max-width: 575px){
    #nombre{
        font-weight: bold;
        position: absolute;
        top: 122%;
        left: 39%;
        
    }
}
@media (max-width: 575px){
    #carrera {
    position: absolute;
    top: 126%;
    left: 37%;
    ;
    
    }
}

@media (max-width: 575px){
    #acercade {
    position: absolute;
    top: 134%;
    left: 35%;
    background-color: rgb(230, 230, 230)
    }
}

@media (max-width: 575px){
    #infoperso {
    position: absolute;
    top: 142%;
    left: 2%;
    background-color: rgb(130, 130, 235);
    }
}

@media (max-width: 575px){
    .row {
        padding: 160px;
        width: 102.5%;
    }
}
